body {
  font-family: sans-serif;
  background-color: #f1e8d7;
}
.header {
  text-align: center;
  background-color: #9edec6;
}

.header h3 {
  font-style: italic;
}

img {
  width: 90%;
}

.column {
  text-align: center;
  float: left;
  width: 30%;
  height: 200%;
  background-color: #c4ebdc;
}
