body {
  font-family: sans-serif;
  background-color: #25705A;
}
.header {
  text-align: center;
  background-color: #003827;
  color: #70A897;
  padding: 5px;
  margin-bottom: 2%;
}

.header h3 {
  font-style: italic;
}

img {
  width: 90%;
}

.before, .during, .after {
  text-align: center;
  float: left;
  width: 28%;
  height: 200%;
  color: #003827;
  padding: 1%;
}

.before {
  margin-left: 2%;
  margin-right: 2%;
  background-color: #0E543F;
}

.during {
  background-color: #468C77;
}
.after {
  margin-left: 2%;
  margin-right: 2%;
  background-color: #70A897;
}
